<% @terms.each do |term| %>
  <div class="term-root preview">
    <div class="term-text">
      <a href="<%= term_path(term) %>"><%= term.term %></a>
    </div>

    <div class="term-definition">
      <%= term.definition %>
    </div>
  </div>
<% end %>
