<div class="term-root">
  <div class="term-text">
    <%= @term.term %>
  </div>

  <div class="label">Definition:</div>
  <div class="term-definition"><%= @term.definition %></div>

  <div class="info">
    <span class="timestamp">
      Updated: <%= @term.updated_at.to_formatted_s(:short) %>
    </span>
    <span class="separator">|</span>
    <a class="edit-link"href="<%= edit_term_path(@term) %>">Edit</a>
  </div>
</div>
