<div class="search-root">
  <form action="<%= terms_path %>/search">
    Search for terms: <input name="query">
    <input type="submit" value="Search">
  </form>
</div>

<div class="recents">
  <h2>Recently updated terms</h2>
  <%= render partial: "terms/list" %>
</div>
